" {{ ansible_managed }}

" Plugins - managed by vim-plug
call plug#begin('~/.vim/plugged')

{% for plugin in vim_plugins -%}
Plug '{{ plugin }}'
{% endfor %}

call plug#end()

" Basic configuration
syntax on                   " enable syntax highlighting
set showmatch               " show matching [{}]
set number                  " show line numbers
set splitbelow              " vertical split goes below current window
set splitright              " horizontal split goes right of current window
set incsearch               " move to match search as you type
set scrolloff=5             " number of screen lines to show around the cursor
set ffs=unix                " always use unix line endings
set encoding=UTF-8          " always use UTF8
set autoread                " read the file again if changed outside vim
set mouse=nv                " enable mouse in normal and visual modes
set noswapfile              " no .swp - git covers backups anyway
set shiftwidth=2 tabstop=2  " 2 spaces please
set expandtab               " auto-indent when typing
set shiftround ai si        " only indent to multiples of 2
set nowrap                  " no line wrapping
set fillchars+=vert:│       " full split line

" Fix common typos
cnoreabbrev W w
cnoreabbrev Q q
cnoreabbrev Q! q!
cnoreabbrev Wq wq
cnoreabbrev WQ wq
